[ { sumo_db
  , [ {log_queries, true}
    , {query_timeout, 30000}
    , {wpool_opts, [{overrun_warning, 100}]}
    , {storage_backends, []}
    , { stores
      , [ { poke_store_mnesia
          , sumo_store_mnesia
          , [ {workers, 10}
            , {disc_copies, here}
            ]
          }
        ]
      }
    , { docs
      , [ {pokemons, poke_store_mnesia, #{module => poke_pokemons}}
        ]
      }
    , { events
      , [
        ]
      }
    ]
  }
, { mnesia
  , [ {debug, true}
    , {ram_copies, here}
    ]
  }
, { sasl
  , [ {sasl_error_logger, false}
    , {errlog_type, error}
    ]
  }
, { pokenaka
  , [
    ]
  }
].
